@import "tailwindcss";

/* 
    Font size --- choose from the defaiult font size
        14px 16px 18px 20px 24px 36px 48px 60px  
*/

/**
    Line Heights
    headings: 1.1 - 1.2
    body: 1.6
    small text : 1.4
*/

/**
    Font weights
    body : 400
/*
